<div *ngIf='list' class='container'>
  <div *ngFor='let zone of zones' class='row'>
    <div class='card col-sm p-2'>
      <a routerLink='/zone/{{zone.id}}'>{{zone.name}}</a>
    </div>
  </div>
</div>
<div *ngIf='!list && zone' class='card container'>
  <div class='row p-2'>
    {{zone.name}}
  </div>
  <div class='row p-2'>
    r: {{zone.colors.r}}
    g: {{zone.colors.g}}
    b: {{zone.colors.b}}
  </div>
  <div class='row p-2'>
    <span [style.background]="color"
      [cpToggle]="true"
      [cpDialogDisplay]="'inline'"
      [cpOutputFormat]="'rgba'"
      [cpAlphaChannel]="'disabled'"
      [(colorPicker)]="color"></span>
  </div>
  <div class='row p-2'>
    <button (click)='save()' class='btn btn-success mr-2'>Save</button>
    <button class='btn btn-danger'>Cancle</button>
  </div>
</div>
