<!--The content below is only a placeholder and can be replaced.-->
<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <a class="navbar-brand" routerLink='/'>PiRGB Zone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class='collapse navbar-collapse'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'>
        <a routerLink='/zone' class='nav-link'>Zone</a>
      </li>
    </ul>
    <ul class='navbar-nav'>
      <li class='nav-item'>
        <button (click)='open_modal(create_modal)' type='button' class='btn btn-link btn-sm'>
          <fa name='plus' class='nav-link'></fa>
        </button>
      </li>
      <li class='nav-item'>
        <a href='#' class='nav-link'>
          <fa name='cog'></fa>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<ng-template #create_modal let-modal>
  <div class='modal-body mx-3'>
    <div class='row'>
      <div class='mr-auto h3'>
        Create
      </div>
      <div>
        <button class='btn btn-link btn-sm' (click)='modal.dismiss()'>
          <fa class='text-danger h3' name='times'></fa>
        </button>
      </div>
    </div>
    <div class='row mt-3'>
      <div class='col-3'>
        Create:
      </div>
      <div class='col-3'>
        <select [(ngModel)]='create' class='custom-select'>
          <option value='zone'>Zone</option>
        </select>
      </div>
    </div>
    <div class='row m-3' [ngSwitch]='create'>
      <div class='col-12' *ngSwitchCase='"zone"'>
        <ng-container *ngTemplateOutlet='create_zone_modal'></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #create_zone_modal let-modal>
  <div class='row mb-2'>
    Zone Name
  </div>
  <div class='row mb-2'>
    <input [(ngModel)]='zone_name' class='input-group-text' type='text' placeholder='Name'>
  </div>
  <div class='row mb-2'>
    Aviable/Accepted pins [2...5]
  </div>
  <div class='row mb-2'>
    <input [(ngModel)]='zone_pin["r"]' class='input-group-text px-2 mx-2' type='number' placeholder='pin red'>
    <input [(ngModel)]='zone_pin["g"]' class='input-group-text px-2 mx-2' type='number' placeholder='pin green'>
    <input [(ngModel)]='zone_pin["b"]' class='input-group-text px-2 mx-2' type='number' placeholder='pin blue'>
  </div>
  <div class='row float-right mt-2'>
    <button (click)='modal.dismiss()' class='btn btn-danger mr-2'>Cancel</button>
    <button (click)='create_zone()' class='btn btn-success'>Save</button>
  </div>
</ng-template>
